/* a, span, em, input */
body {
  font-family: "Lato", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  background: #111;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
}

#gnb .list {
  display: flex;
}
#gnb .list li a {
  padding: 0 30px;
}

.footer {
  display: flex;
  padding: 50px 100px;
  background-color: #111;
  color: #fff;
  justify-content: center;
}

.board {
  width: 1200px;
  margin: 100px auto;
}
.board th,
.board td {
  padding: 15px;
  border: 1px solid #cccccc;
}
.board input[type=text] {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}
.board textarea {
  padding: 15px;
  width: 100%;
  resize: none;
  overflow-y: auto;
  min-height: 300px;
  border: 1px solid #ccc;
}

.boardList {
  width: 1200px;
  margin: 100px auto;
}
.boardList li {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
.boardList li .item {
  padding: 0 15px;
}
.boardList li .item.no {
  width: 80px;
}
.boardList li .item.userName {
  width: 150px;
}
.boardList li .item.date {
  margin-left: auto;
}

.btns {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.btns button,
.btns a {
  min-width: 120px;
  padding: 20px 0;
  margin: 0 5px;
  color: #fff;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btns button.confirm,
.btns a.confirm {
  background-color: #00aed9;
}
.btns button.reset,
.btns a.reset {
  background-color: #333;
}

.pageBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageBox li {
  margin: 0 2px;
}
.pageBox li.active a {
  background-color: #0591b5;
  pointer-events: none;
}
.pageBox li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #333;
  color: #fff;
  border-radius: 3px;
}